.inputContainer {
  width: 100%;
}

.label {
  display: block;
  margin-bottom: 12px;

  text-transform: capitalize;
  color: var(--primary-white-color);
}

.input {
  width: 100%;
  padding: 8px 10px;

  color: var(--primary-text-color);

  border: none;
  border-radius: 8px;

  transition: outline var(--transition-duration) var(--timing-function);

  &:focus {
    outline: 2px solid var(--accent-color);
  }
}
