.inputContainer {
  width: 100%;
}

.label {
  display: block;
  margin-bottom: 12px;

  font-size: 18px;
  font-weight: 700;
  text-transform: capitalize;
}

.input {
  width: 100%;
  padding: 8px 10px;

  font-size: 18px;
  font-weight: 500;
  color: var(--secondary-text-color);

  border: none;
  border-radius: 8px;

  &:focus {
    outline: 2px solid var(--primary-text-color);
    outline-offset: 3px;
  }
}

.inputFlexBox {
  width: 100%;
  display: flex;
  gap: 5px;
}

.clearFilterButton {
  & > svg {
    transform: scaleX(-1);
  }
}
