.button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;

  color: var(--primary-text-color);

  border: 2px solid transparent;
  border-radius: var(--border-radius);

  transition: transform var(--transition-duration) var(--timing-function);

  &:hover {
    transform: scale(1.2);
  }

  &:focus {
    outline-color: var(--primary-text-color);
  }
}
