.userTable {
  width: 100%;
  margin: 0 auto;

  text-align: left;

  background-color: var(--primary-white-color);
  border: none;
  border-collapse: collapse;
}

.userTableHeadRow {
  color: var(--primary-white-color);
  background-color: var(--bg-table-head);
}

.userTableHead {
  padding: 10px;
  border: none;
}

.userTableBody {
  border: 1px solid black;
}
