.userTableContainer {
  min-height: 120px;
  border-radius: 10px;

  background-color: var(--primary-text-color);
  box-shadow: var(--container-shadow);

  overflow: hidden;
  overflow-x: auto;
}

.userTable {
  width: 100%;
  margin: 0 auto;

  text-align: left;

  border-collapse: collapse;
  border-radius: 10px;
}

.userTableHeadRow {
  font-size: 18px;
  background-color: var(--accent-color);
}

.userTableHead {
  width: calc(100% / var(--table-columns));
  text-transform: capitalize;
  padding: 18px 10px;
}

.userTableInfoBox {
  padding: 15px;
}
