.userTableContainer {
  min-height: 120px;
  border-radius: 10px;

  background-color: var(--primary-white-color);
  overflow: hidden;
  overflow-x: auto;
}

.userTable {
  width: 100%;
  margin: 0 auto;

  text-align: left;

  background-color: var(--primary-white-color);
  border-collapse: collapse;
  border-radius: 10px;
}

.userTableHeadRow {
  color: var(--primary-white-color);
  background-color: var(--bg-table-head);
}

.userTableHead {
  width: calc(100% / var(--table-columns));
  text-transform: capitalize;
  padding: 18px 10px;
}

.userTableInfoBox {
  padding: 15px;
}
