:root {
  /* Colors */
  --bg-color: #eaeaea;
  --primary-text-color: #fff;
  --secondary-text-color: #113b8a;
  --border-color: #c9c9c9;
  --info-color: rgb(78, 78, 78);
  --error-color: rgb(112, 2, 2);
  --bg-info-color: rgb(128, 128, 120, 0.5);
  --bg-error-color: rgba(148, 2, 2, 0.5);

  --accent-color: #0c2c69;
  --tb-row-hover-color: #3566c0;

  /* Sizes */
  --table-columns: 4;
  --border-radius: 8px;

  /* Transitions and animations */
  --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  --transition-duration: 200ms;
  --spin-duration: 800ms;
}
