:root {
  /* Colors */
  --accent-color: #0c2c69;
  --tb-row-hover-color: #3566c0;
  --bg-color: #eaeaea;
  --primary-text-color: #fff;
  --secondary-text-color: #113b8a;
  --border-color: #c9c9c9;
  --info-color: #4e4e4e;
  --error-color: #700202;
  --bg-info-color: #80807880;
  --bg-error-color: #94020280;
  --container-shadow: 0px 3px 10px -3px #1f309e75;
  -moz-box-shadow: 0px 3px 10px -3px #1f309e75;

  /* Sizes */
  --table-columns: 4;
  --border-radius: 8px;

  /* Transitions and animations */
  --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  --transition-duration: 200ms;
  --spin-duration: 800ms;
}
