.filterContainer {
  width: 100%;
  padding: 15px 10px;
  margin-bottom: 11px;

  background-color: var(--accent-color);
  border-radius: 10px;
  box-shadow: var(--container-shadow);

  overflow: hidden;
}

.filterHeading {
  margin-bottom: 14px;
  color: var(--primary-text-color);
}

.filterInputList {
  display: flex;
  flex-direction: column;
  gap: 8px;

  @media screen and (min-width: 680px) {
    flex-direction: row;
    gap: 20px;
  }
}

.filterInputListItem {
  flex-basis: calc((100% - (var(--table-columns) - 1) * 20px) / var(--table-columns));
}
