.userTableRow {
  font-weight: 500;
  color: var(--secondary-text-color);
  transition: background-color var(--transition-duration) var(--timing-function),
    color var(--transition-duration) var(--timing-function);
}

.userTableRow:hover {
  background-color: var(--tb-row-hover-color);
  color: var(--primary-text-color);
}

.userTableCell {
  padding: 10px;
  border-bottom: 1px solid var(--border-color);

  white-space: nowrap;
}
