.userTableRow {
  transition: background-color var(--transition-duration) var(--timing-function),
    color var(--transition-duration) var(--timing-function);
}

.userTableRow:hover {
  background-color: var(--accent-color);
  color: var(--primary-white-color);
}

.userTableCell {
  padding: 10px;
  border-bottom: 1px solid var(--border-color);

  white-space: nowrap;
}
